@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l2i5ez');
  src:  url('fonts/icomoon.eot?l2i5ez#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l2i5ez') format('truetype'),
    url('fonts/icomoon.woff?l2i5ez') format('woff'),
    url('fonts/icomoon.svg?l2i5ez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-certificate:before {
  content: "\e905";
}
.icon-thumbs-o-up:before {
  content: "\e900";
}
.icon-thumbs-up:before {
  content: "\e901";
}
.icon-heart-o:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}

body {
  font-size: 2rem;
}

.nav-bar {
  background: black;
  color: white;
  padding: 1.2rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

.list-group-item.completed-:hover {
  background: black;
}

.list-group-item.completed-:hover a {
  color: white;
}

.progress-striped {
  height: 3rem;
}

.progress-bar {
  height: 3rem;
  background-color: #5cb85c;
  font-size: 2rem;
}

.complete-course.disabled- {
  pointer-events: auto;
  background-color: #5cb85c;
}

.complete-course:not(.disabled-) {
  pointer-events: none;
  background-color: gray;
}

[type="checkbox"]:before {
  width: 30px;
  height: 30px;
}

[type="checkbox"]:checked:after {
  left: -0.6em;
  top: -0.5em;
  font-size: 5rem;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
}

.certificate-button {
  position: absolute;
  right: 0.3rem;
  font-size: 3.7rem;
  top: -1rem;
}

.certificate-button:hover {
  color: red;
  cursor: pointer;
}

.certificate-icon-wrapper {
  font-size: 18rem;
  position: absolute;
  top: 1rem;
  left: -12rem;
}