<ul class="nav nav-bar justify-content-center" style="margin-bottom: 3rem;">
  <li class="nav-item">
    <h1><a ng-href="{{'#/user/'+user_id}}" style="color: white;">Trainly.io</a></h1>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <img ng-src={{user.profile_pic}} style="width: 100%;">
    </div>
    <div class="col-sm-11">
      <h1>Welcome Back! {{user.f_name}} {{user.l_name}}</h1>
    </div>
  </div>

  <div class="row" style="margin-top: 5rem;">
    <div class="col-sm-12">
      <a class="btn btn-primary" ng-href="{{'#/user/' + user.user_id + '/courses'}}" role="button" style="width: 20rem; margin-bottom: 2rem; padding: 2rem 0;">
        <h2>Look Up Courses</h2>
      </a>
    </div>
    <div class="col-sm-12">
      <a class="btn btn-primary" ng-href="{{'#/user/' + user.user_id + '/mycourses'}}" role="button" style="width: 20rem; margin-bottom: 2rem; padding: 2rem 0;">
        <h2>My Courses</h2>
      </a>
    </div>
    <div class="col-sm-12">
      <a class="btn btn-primary" ng-href="{{'#/user/' + user.user_id + '/history'}}" role="button" style="width: 20rem; margin-bottom: 2rem; padding: 2rem 0;">
        <h2>Account History</h2>
      </a>
    </div>
    <div class="col-sm-12" ng-if="(user.admin_id != NULL) && (user.grantor_id != NULL)">
      <a class="btn btn-primary" ng-href="{{'#/user/' + user.user_id + '/authenticate'}}" role="button" style="width: 20rem; margin-bottom: 2rem; padding: 2rem 0;">
        <h2>Authenticate</h2>
      </a>
    </div>
    <div class="col-sm-12">
      <a class="btn btn-primary" ng-href="{{'#/'}}" role="button" style="width: 20rem; margin-bottom: 2rem; padding: 2rem 0;">
        <h2>Log Out</h2>
      </a>
    </div>
  </div>
</div>