<ul class="nav nav-bar justify-content-center" style="margin-bottom: 3rem;">
  <li class="nav-item">
    <h1><a ng-href="{{'#/user/'+user_id}}" style="color: white;">Trainly.io</a></h1>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Account History</h1>
    </div>
  </div>
  <div class="row" style="padding-top: 3rem;">
  <div class="col-md-10">
    <h2>Course History</h2>
    <ul class="list-group">
      <li ng-repeat="history in historylist" class="list-group-item">
        <div >
          <div>
            {{history.course_id}} S: {{history.start_time}} E: {{history.end_time}} ${{history.cost}} Payment Code: {{history.payment_code}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
  <h2>Total Cost</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <div >
          <div>
            {{cost.f_name}} {{cost.l_name}} ${{cost.total_spent}} 
          </div>
        </div>
      </li>
    </ul>
  </div>

  </div>
</div>