<ul class="nav nav-bar justify-content-center" style="margin-bottom: 3rem;">
  <li class="nav-item">
    <h1><a ng-href="{{'#/user/'+user_id}}" style="color: white;">Trainly.io</a></h1>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>My Courses </h1>
    </div>
  </div>
  <div class="row" style="padding-top: 3rem;">
  <div class="col-md-6">
    <h2>Enrolled Courses</h2>
    <ul class="list-group">
      <li ng-repeat="course in mycourses" class="list-group-item row completed-{{course.complete}}">
        <div ng-if="course.complete == 'Yes'">
          <div class="col-md-9">
            {{course.course_id}} {{course.name}}
          </div>
          <div class="col-md-3 text-right">
            COMPLETED
          </div>
          <div class="col-sm-10" style="font-size: 1.3rem;">
            {{course.topic}} / {{course.secondary_topics}}
          </div>
          <div class="col-sm-2 text-right">
            <a ng-href="{{'#/user/'+user_id+'/course/'+course.course_id+'/certificate'}}"><span class="icon-certificate certificate-button"></span></a>
          </div>
        </div>
        <a ng-href="{{'#/user/'+user_id+'/course/'+course.course_id}}" ng-if="course.complete != 'Yes'">
          <div class="col-md-9">
            {{course.course_id}} {{course.name}}
          </div>
          <div class="col-md-3 text-right">
            ENROLLED
          </div>
          <div class="col-sm-12" style="font-size: 1.3rem;">
            {{course.topic}} / {{course.secondary_topics}}
          </div>
        </a> 
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Interested Courses</h2>
    <ul class="list-group">
      <li ng-repeat="course in myinterestedcourses" class="list-group-item">
        {{course.course_id}} {{course.name}}
        <div class="col-sm-12" style="font-size: 1.3rem;">
          {{course.topic}} / {{course.secondary_topics}}
        </div>
      </li>
    </ul>
  </div>

  </div>
</div>